{% extends "base.html" %}

{% block content %}
<h2>About:</h2>

<p>Me chamo {{ name }} e tenho {{age}} anos, sou estudante do curso de Engenharia de Software na UCB. Esse to-do List é uma atividade da materia de Novas Tecnologias do 5° semestre.<br> </p>
<br>


</head>
<body>
  <h5>Sobre o projeto To-Do List com Python + Django:</h5>

  <p>Este é um projeto de uma lista de tarefas usando framework Django, usando a linguagem Python. Ele permite adicionar, visualizar, deletar e marcar tarefas como concluídas.</p>

  <h5>Tecnologias Utilizadas:</h5>
  <ul>
    <li>Python;</li>
    <li>Django;</li>
    <li>SQLite3;</li>
    <li>HTML5.</li>
  </ul>

  <h5> Funcionalidades:</h5>
  <ul>
    <li>Adicionar novas tarefas</li>
    <li>Marcar as tarefas como concluídas</li>
    <li>Excluir tarefas</li>
    <li>Visualizar lista de tarefas</li>
  </ul>

{% endblock %}
