{% extends "base.html" %}

{% block content %}
<h1>Todo List</h1>

{% if todos %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Completed</th>
                <th scope="col">Created At</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
{% for todo in todos %}
        <tr{% if todo.is_completed %} class="table-success"{% endif %}>
            <td>{{ forloop.counter }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.is_completed }}</td>
            <td>{{ todo.created_at }}</td>
            <td><a href="{% url 'edit_todo' todo.id %}">Editar</a></td>
            <td><a href="{% url 'delete_todo' todo.id %}" onclick="return confirm('Quer mesmo Deletar?');">Deletar</a></td>
        </tr>
{% endfor %}
    </table>
{% else %}
    <p>Nenhuma tarefa encontrada.</p>
{% endif %}

{% endblock %}



